body {
    margin: 0;
    font-family: Arial;
    background: #F0FFFF;
    color: #000080;
}
h1, h2 {
    font-family: Beach;
    color: #00BFFF;
}
a {
    color: #228B22;
}
section {
    padding: 3rem;
}